#recipes-container {
    position: relative;
    display: flex;
    padding: 10px;
}

.recipe-wrapper.ng-scope {    
    height: 200px;
    box-shadow: 0px 0px 1px 0px #333;
    padding: 5px;
    text-align: center;
    max-width: 40%;
    width: 33%;
}

.recipe-wrapper:first-child{
    margin:0px 5px 10px 0px;
}

.recipe-wrapper:nth-child(1){
    margin:0px 5px 10px 5px;
}

.recipe-wrapper:nth-child(2){
    margin:0px 0px 10px 5px;
}

.recipe-wrapper.ng-scope:hover{
    box-shadow: 0px 0px 5px 0px #333;
}

.recipe-img {
    min-height: 130px;
}